* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
  font-family: "Heebo", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  background-color: #141414;
  min-height: 80vh;

}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 21rem;
  max-width: 40rem;
  margin: 10rem auto;
  padding: 3rem 0;
  background-color: #1f1f1f;
  border-radius: 1rem;
}

.profile-image {
    border-radius: 50%;
    width: 70px;
    height: 70px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.name {
    color: #fff;
    font-weight: 400;
    font-size: x-large;
    padding-top: 1rem;
}

.city {
    color: #c4e55f;
    font-size: small;
}

.job {
    color: #fff;
    padding-top: 1.5rem;
    font-weight: 300;
    font-size: 0.8rem;
}

.socials {
    background-color: #333333;
    border-radius: 0.5rem;
    margin-top: 1rem;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.8rem 5rem;
    font-size: small;
}

a {
    color: #fff;
    text-decoration: none;
}

a:hover {
    color: #c4e55f;
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
    color:#fff;
}
    
.attribution a { 
    color: #fff; 
}